$siemens-color-1: #003399;
$siemens-color-2: #506473;
$siemens-color-3: #000000;
$siemens-color-4: #ffffff;
$siemens-color-5: #e4ebf0;
$siemens-color-6: #647887;
$siemens-color-7: #879baa;
$siemens-color-8: #5a7b8d;
$siemens-color-9: #b1c1cd;
$siemens-color-10: #b9c8d2;
$siemens-color-11: #cdd9e1;
$siemens-color-12: #55a0b9;
$siemens-color-13: #ebf0f5;
$siemens-color-14: #d9e2e9;
$siemens-color-17: #006487;
$siemens-color-18: #738796;
$siemens-color-19: #91a5b4;
$siemens-color-20: #ffffff #9bafbe;
$siemens-color-22: #478ed2;
$siemens-color-23: #1ca928;
$siemens-color-24: #00557d;
$siemens-color-25: #788791;
$siemens-color-26: #adbecb;
$siemens-color-27: #41aac8;
$siemens-color-28: #becdd7;
$siemens-color-29: #697882;
$siemens-color-30: #641946;
$siemens-color-31: #2d373c;
$siemens-color-32: #dfe5ed;
$siemens-color-33: #2387aa;
$siemens-color-34: #3c464b;
$siemens-color-35: #edf2f6;
$siemens-color-36: #adc0cc;
$siemens-color-37: #aae6f5;
$siemens-color-38: #becdd7;
$siemens-color-39: #005578;
$siemens-color-40: #555f69;
$siemens-color-41: #f4f7f9;
$siemens-color-42: #faa50a;
$siemens-color-43: #e3e9ef;
$siemens-color-44: #7ed2e6;
$siemens-color-45: #c8f5ff;
$siemens-color-47: #21292c;
$siemens-cross-icon-color: #e30000;
$siemens-check-icon-color: #00b320;
$siemens-warning-color: #df0000;
//browser-scrollbar
$scrollbar-background-color: rgba(202, 200, 200, 0.719);
$scrollbar-box-shadow: rgba(255, 255, 255, 0.719);
$scrollbar-hover-background-color: #838181;