@font-face {
  font-family: "Siemens-Sans-Global";
  font-style: normal;
  src: url('~src/assets/fonts/sisan03.eot') format("opentype"), url('~src/assets/fonts/sisan03.ttf') format("opentype"),
    url('~src/assets/fonts/sisan03.woff') format("opentype"), url('~src/assets/fonts/sisan03.woff2') format("opentype");
}

@font-face {
  font-family: "Siemens-Sans-Global-Roman";
  src: url('~src/assets/fonts/sisan03.ttf') format('ttf');
}
